If:
  PathMatch: ^src/bootloader/.*

CompileFlags:
  Add:
    - "-xc"
    - -m16
    - "-std=c11"
    - -ffreestanding
    - -D_cdecl=__attribute__((cdecl))
    - "-Dfar="
    - "-Dnear="
    - "-Dhuge="

---

If:
  PathMatch: ^src/kernel/.*

CompileFlags:
  Add:
    - -m32
    - -Isrc/kernel/include
    - --target=i686-unknown-elf
